* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ddd;
  }
  
  header {
    background-color: #5c7080;
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .container {
    display: flex;
    padding: 20px;
    gap: 20px;
  }
  
  .left-panel {
    flex: 2;
    background-color: #90a4ae;
    position: relative;
    padding: 10px;
    border-radius: 10px;
  }
  
  .left-panel img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #333;
  }
  
  #odomStatus {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .control-buttons {
    flex: 2;
    background-color: #b2dfdb;
    padding: 20px;
    border-radius: 10px;
  }
  
  .control-buttons h3 {
    color: #c2185b;
  }
  
  .control-buttons button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
  }
  
  .speed-settings {
    background-color: #b3e5fc;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #6a1b1a;
  }
  
  .log-panel {
    background-color: #ef9a9a;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    height: 120px;
    font-family: monospace;
    font-size: 14px;
  }
  
  #log {
    margin-top: 20px;
    height: 150px;
    width: 90%;
    max-width: 600px;
    overflow-y: auto;
    background: #f8d7da;
    border: 1px solid #f5c2c7;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    text-align: left;
    white-space: pre-line;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  
    .right-panel {
      flex-direction: column;
    }
  }
  